<table class="table table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempProduct of products" >
      <td>
        <img src="{{tempProduct.imageUrl}}"/>
      </td>
      <td class="align-left">{{tempProduct.name}}</td>
      <td class="align-right">{{tempProduct.unitPrice | currency:'INR'}}</td>
      <td class="align-middle">{{tempProduct.unitsInStock}}</td>
    </tr>
  </tbody>
</table>

<!-- <p *ngFor="let tempProduct of products">
  {{tempProduct.name}}:{{tempProduct.unitPrice | currency:'INR'}}
</p> -->
